<div style="display: flex; justify-content: center">
  <a href="http://localhost:5080/"><h1>Play again</h1></a>
</div>
{{#each highscores}}
  <div
    class="player-container"
    style="display: flex; justify-content: space-evenly"
  >
    <h2>Name: {{name}}</h2>
    <h2>Time: {{time}}</h2>
    <h2>Guesses: {{guesses}}</h2>
    <h2>Letters: {{letters}}</h2>
    <h2>Unique: {{unique}}</h2>
  </div>
{{/each}}